/*UI参看网站www.laravel.com*/
body{
	margin:0;
	color:#04043F;
	font-family:"Source Sans Pro",sans-serif;
	font-size:16px;
	background:url(/img/web-logo.png) repeat-x #fff;
	padding-top:10px;
}

footer.main{background:#eaeaea;padding:3px 2px;text-align:center;}
footer.main>ul{list-style:none;margin:25px auto 35px;padding:0}
footer.main>ul>li{display:inline-block;margin:0 18px}
footer.main>ul>li>a{font-size:16px;color:#525252}
footer.main>ul>li>a:hover{color:#f4645f}
footer.main p{color:#000000;margin-bottom:3px;font-size:16px}
footer.main p a{color:#000000}
footer.main p a:hover{color:#2f3146}
footer.main p.less-significant{margin:0}
footer.main p.less-significant a{color:#AEAEAE;display:inline-block;font-size:10px;margin:25px 0 0}
footer.main p.less-significant a svg{margin-top:3px}
footer.main p.less-significant a:hover svg path{fill:#f4645f}
footer.main .dropdown-menu{bottom:115%;top:auto}

.container-bg{
	background:url(/img/logo.png) no-repeat;
	overflow: hidden;
}